<div class="col-lg-12 topic-box" *ngIf="topic">
    <div class="topic-data col-lg-8 float-left">
        <h1>{{topic.title}}</h1>

        <span class="badge badge-danger">
            {{topic.user.name + ' ' + topic.user.surname}}
        </span>

        <span class="bad badge-primary ml-2" *ngIf="topic.lang">
            {{topic.lang}}
        </span>

        <span class="badge badge-light ml-2">
            {{topic.date | amLocale: 'es' | amTimeAgo}}
        </span>

        <p id="topic-content" class="mt-2">
            {{topic.content}}
        </p>

        <p id="topic-code" class="mt-2" *ngIf="topic.code">
            <ngx-highlight-js lang="{{topic.lang}}" code="{{topic.code}}"></ngx-highlight-js>
        </p>
    </div>



    <div class="clearfix"></div>
    <div id="comment-box col-md-8 mt-2">
        <h3>Comentarios</h3>
        <hr>

        <div class="alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">El comentario se ha agregado con
            exito</div>

        <div class="alert alert-danger col-md-5 mt-3" *ngIf="status == 'error'">El comentario no se pudo agregar</div>

        <form #formComment="ngForm" (ngSubmit)="onSubmit(formComment)">

            <div class="form-group">
                <label for="content">Agregar comentario...</label>
                <textarea name="content" #content="ngModel" [(ngModel)]="comment.content" required
                    class="form-control"></textarea>
                <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">El contenido no es
                    valido</small>
            </div>

            <input type="submit" class="btn btn-success" value="Agregar comentario" [disabled]="formComment.invalid">
        </form>

        <hr>

        <ul class="list-group list-comments mb-5">
            <li class="list-group-item comment-item" *ngFor="let comment of topic.comments">

                <div class="avatar_mask float-left mr-2">
                    <img src="{{ url + 'avatar/'+comment.user.image }}" class="avatar_nav">
                </div>
                <span class="badge badge-primary">
                    {{comment.user.name + ' ' + comment.user.surname}}
                </span>

                <span class="badge badge-light ml-2">
                    {{comment.date | amLocale: 'es' | amTimeAgo}}
                </span>

                <span class="d-block">
                    {{comment.content}}
                </span>

                <button (click)="deleteComment(comment._id)" class="btn btn-sm btn-danger float-right" *ngIf="identity._id == comment.user._id">x</button>
            </li>

        </ul>
    </div>
</div>